*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: monospace;
}
nav {
    display: flex;
    background-color: gainsboro;
    height: 80px;
    width: 100%;
    justify-content: space-between;
    padding: 0px 50px 0px 80px;
    align-items: center;

}
.logo{
    font-size: 26px;
    font-weight: bold;
    
}
nav ul{
    display: flex;
}
nav ul li{
    list-style-type: none;
    margin: 0px 8px;
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    transition: 1s;
}
nav ul li a:hover, nav ul li a.active{
    background-color: blueviolet;
}
nav ul li a.active{
    background-color:blueviolet;
}
 #click{
    display: none;
 }
 .menu-btn{
    display: none;
    cursor: pointer;
 }